<div class="container">
    <div class="logo-hero">
        <img src="/img/icon.png" alt="">
        <h1><span>Lien</span> Sistemas</h1>
    </div>
    <div class="container">
        <p>
            Ágil, rápido, flexible, poderoso. Enormes adjetivos, en algo tan simple y fácil de usar.<br>
            Llegó el primer sistema de gestión capaz de despedirse de típicos problemas al tener gran cantidad de datos, o al quedar
            desactualizado, o peor, <strong>¡inestabilidad!</strong>.
        </p>
        <p>
            Lien Sistemas está preparado para ejecutarse en prácticamente cualquier dispositivo, como por ejemplo, Windows, Android, iPhone, entre otros.<br>
            Y como si fuera poco... también es completamente libre y <strong>gratuito</strong>.
            Cualquiera puede usarlo, modificarlo y redistribuirlo a su gusto al ser <em>open-source</em>.
        </p>
        <p>
            Espero que lo disfrutes tanto como yo al desarrollarlo y pueda mejorar el funcionamiento de tu negocio o empresa. <br>
            Sin importar qué tan grande o pequeña sea, ¡está preparado para todo!
        </p>
        <p>
            Por último, si te gusta esta aplicación, te invito a que colabores, sin ninguna obligación.
            Podés ayudarme a programar, diseñar, darme ideas, alguna donación quizás. Pero con solo compartir este proyecto <em>(o darle una estrella en GitHub)</em> es más que suficiente.
        </p>
    </div>
    <div class="text-right separado">
         Alan Berdinelli.
    </div>
</div>
