<div class="container">
    <h1>Preferencias</h1>
    <div class="tabs">
        <ul class="nav nab-tabs nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#ventanas" aria-controls="ventanas" role="tab" data-toggle="pill">Ventanas</a>
            </li>
            <li role="presentation">
                <a href="#apariencia" aria-controls="apariencia" role="tab" data-toggle="pill">Apariencia</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="ventanas" role="tab">
                <div class="panel panel-default en-tab">
                    <div class="panel-body">
                        <p>
                            <small>Define las opciones que se abrirán en una ventana nueva</small>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Función / Menu</th>
                                    <th>Configuración</th>
                                    <th>Predeterminado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="target in vars.targets">
                                    <td>
                                        {{target.menu}}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                                {{ajustes.target[target.val] == '_blank' ? 'Nueva pestaña' : 'Normal'}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" ng-click="ajustes.target[target.val] = ''">Normal</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="ajustes.target[target.val] = '_blank'">Nueva pestaña</a>
                                                </li>
                                                <li class="divider" role="separator"></li>
                                                <li>
                                                    <a href="#" ng-click="ajustes.target[target.val] = target.inicial">Por defecto</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        {{target.inicial == '_blank' ? 'Nueva pestaña' : 'Normal'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="apariencia" role="tab">
                <div class="panel panel-default en-tab">
                    <div class="panel-body">
                        <p>
                            <small>Selecciona el estilo visual de la aplicación</small>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Estilo</th>
                                    <th>En uso</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tema in vars.temas">
                                    <td>
                                        <strong>{{tema.nombre}}</strong><br>
                                        {{tema.desc}}
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-ok" ng-if="ajustes.theme == tema.css"></span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" ng-click="ajustes.theme = tema.css">
                                            Aplicar este estilo
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
(function(){
    $('.nav-pills li a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
})();
</script>
