<div class="container">
    <h1>Preferencias de sistema</h1>
    <div class="alert alert-danger" ng-if="errores">
        <ul>
            <li ng-repeat="error in errores">{{error.message}}</li>
        </ul>
    </div>
    <div class="tabs">
        <ul class="nav nab-tabs nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#general" aria-controls="general" role="tab" data-toggle="pill">General</a>
            </li>
            <li role="presentation">
                <a href="#marcas" aria-controls="marcas" role="tab" data-toggle="pill">Marcas</a>
            </li>
            <li role="presentation">
                <a href="#categorias" aria-controls="categorias" role="tab" data-toggle="pill">Categorías</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="general" role="tab">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Configuración de sistema
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-offset-4">
                                <div class="alert alert-success small" id="saved">
                                    <span class="glyphicon glyphicon-ok"></span> &nbsp;
                                    Todos los cambios fueron guardados. Algunos cambios requieren reiniciar el sistema.
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="cfg in config">
                            <div class="col-sm-4">
                                {{cfg.titulo}}
                            </div>
                            <div class="col-sm-8">
                                <input type="{{cfg.tipo}}" class="form-control" ng-model="cfg.valor">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-4">
                                <button class="btn btn-success" ng-click="guardar()">
                                    Guardar cambios
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="marcas" role="tab">
                <div class="panel panel-default">
                    <div class="panel-heading">Administrar marcas</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-sm-10">Categoría</th>
                                    <th class="col-sm-2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="marca in marcas">
                                    <td>{{marca.nombre}}</td>
                                    <td class="con-opciones">
                                        <button class="btn btn-danger btn-sm" ng-click="borrar_marca($index)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Agregar marca</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="">Nombre de marca</label>
                                <input type="text" class="form-control" ng-model="add_marca.nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-success" ng-click="agregar_marca()">
                                    Agregar marca
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="categorias" role="tab">
                <div class="panel panel-default">
                    <div class="panel-heading">Administrar categor&iacute;as</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-sm-10">Categoría</th>
                                    <th class="col-sm-2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categoria in categorias">
                                    <td>{{categoria.nombre}}</td>
                                    <td class="con-opciones">
                                        <button class="btn btn-danger btn-sm" ng-click="borrar_categoria($index)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Agregar categoría</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="">Nombre de categoría</label>
                                <input type="text" class="form-control" ng-model="add_categoria.nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-success" ng-click="agregar_categoria()">
                                    Agregar categoría
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
(function(){
    $('.nav-pills li a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
})();
</script>
