<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Cerrando sesión</div>
        <div class="panel-body">
            Espera un momento mientras se cierra la sesión...
        </div>
    </div>
</div>
