<div class="panel panel-default">
    <div class="panel-heading">
        {{modo == 'seleccion' ? 'Seleccionar cliente' : 'Buscar clientes'}}
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <table class="table no-borders">
                <thead>
                    <tr>
                        <td colspan="3">
                            <input type="text" class="form-control text-capitalize" placeholder="Nombre" ng-model="clientes.q" ng-keyup="clientes.buscar($event.keyCode)"><br>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">DNI/CUIT</th>
                        <th class="col-sm-5">Nombre</th>
                        <th class="col-sm-2">Teléfono</th>
                        <th class="col-sm-1">Localidad</th>
                        <th class="col-sm-2">Domicilio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="resultado {{clientes.seleccionado == $index ? 'seleccionado' : ''}}" ng-dblclick="clientes.seleccionar()" ng-repeat="cliente in clientes.resultados" ng-click="clientes.seleccionado = $index">
                        <td>
                            {{cliente.identificacion}}
                        </td>
                        <td>
                            {{cliente.nombre}}
                        </td>
                        <td>
                            {{cliente.telefono}}
                        </td>
                        <td>
                            {{cliente.localidad}}
                        </td>
                        <td>
                            {{cliente.domicilio}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info small" role="alert">
                &nbsp;<span class="glyphicon glyphicon-info-sign"></span> Seleccione el cliente y presione enter
            </div>
        </div>
    </div>
</div>
