<div class="container">
    <h1>Eliminar cliente</h1>
    <div class="panel panel-danger" ng-if="cliente">
        <div class="alert alert-danger" ng-if="error">{{error}}</div>
        <div class="panel-heading">
            Eliminar <strong>{{cliente.nombre}}</strong>
        </div>
        <div class="panel-body">
            <div class="container">
                <h4>Está seguro que desea eliminar este cliente?</h4>
                <p>Esta acción no puede deshacerse</p>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            <button class="btn btn-danger" ng-click="borrar()">Eliminar</button>
        </div>
    </div>
</div>
