<div class="container">
    <h1>Alta de cliente</h1>
    <div class="alert alert-danger" ng-if="errores">
        <p>No se pudo cargar el cliente, compruebe los siguientes errores:</p><br>
        <ul>
            <li ng-repeat="error in errores">{{error.message}}</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Información
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label for="">DNI o CUIT</label>
                    <input type="text" class="form-control" ng-model="form.identificacion">
                </div>
                <div class="col-sm-8">
                    <label for="">Nombre del cliente</label>
                    <input type="text" class="form-control" ng-model="form.nombre">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Datos de contacto
        </div>
        <div class="panel-body">
            <div class="row separado-abajo">
                <div class="col-sm-5">
                    <label for="">Dirección email</label>
                    <input type="email" class="form-control" ng-model="form.email">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="">Teléfono</label>
                    <input type="tel" class="form-control" ng-model="form.telefono">
                </div>
                <div class="col-sm-4">
                    <label for="">Teléfono móvil</label>
                    <input type="tel" class="form-control" ng-model="form.movil">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="">Localidad</label>
                    <input type="text" class="form-control" ng-model="form.localidad">
                </div>
                <div class="col-sm-8">
                    <label for="">Domicilio</label>
                    <input type="text" class="form-control" ng-model="form.domicilio">
                </div>
            </div>
        </div>
    </div>
    <div class="center-align">
        <button class="btn btn-primary" ng-click="cargar_cliente()">
            Guardar
        </button>
    </div>
</div>
