<div class="container">
    <h1>
        Nuevo presupuesto
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">Datos de cliente</div>
        <div class="panel-body">
            <div class="row">
                <div ng-if="!presupuesto.cliente.nombre" class="container-fluid">
                    <div class="alert alert-info">
                        No se seleccionó el cliente
                    </div>
                </div>
                <div ng-if="presupuesto.cliente.nombre">
                    <div class="container">
                        <p>
                            <strong>{{presupuesto.cliente.nombre}}</strong>
                        </p>
                        <p>
                            {{presupuesto.cliente.identificacion}} - {{presupuesto.cliente.iva}}<br>
                            {{presupuesto.cliente.domicilio}} - {{presupuesto.cliente.localidad}}
                        </p>
                    </div>
                </div>
                <div class="container">
                    <button class="btn btn-default btn-xs" ng-click="cambiar_cliente()">
                        {{presupuesto.cliente.nombre ? 'Cambiar de cliente' : 'Seleccionar cliente'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Productos</div>
        <table class="table grilla-productos">
            <thead>
                <th class="col-sm-1">&nbsp;</th>
                <th class="col-sm-2">Código</th>
                <th class="col-sm-6">Producto</th>
                <th class="col-sm-2">Precio</th>
                <th class="col-sm-1"></th>
            </thead>
            <tbody>
                <tr ng-repeat="producto in presupuesto.productos">
                    <td class="text-center">
                        <input type="text" class="form-control" readonly="readonly" value="{{$index + 1}}">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="presupuesto.productos[$index].codigo">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="presupuesto.productos[$index].nombre">
                    </td>
                    <td>
                        <input type="number" min="0" step="0.1" class="form-control" ng-model="presupuesto.productos[$index].precio">
                    </td>
                    <td class="con-opciones">
                        <button class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
