<div class="container">
    <div class="pull-right no-imprimible">
        <a href="javascript:void(window.print())" class="btn btn-default">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <a href="/producto/nuevo" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <div class="pull-left">
        <h1>Listado de productos</h1>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th class="col-sm-2">Código</th>
                <th class="col-sm-4">Nombre</th>
                <th class="col-sm-2">Stock</th>
                <th class="col-sm-2">Precio</th>
                <th class="col-sm-2 no-imprimible">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="productos.length">
                <td colspan="5" class="text-center">
                    <div class="alert alert-info">¡No hay productos en el sistema!</div>
                </td>
            </tr>
            <tr ng-repeat="producto in productos">
                <td>
                    {{producto.codigo}}
                </td>
                <td>
                    {{producto.nombre}}
                </td>
                <td>
                    {{producto.stock}}
                </td>
                <td>
                    $ {{producto.precio}}
                </td>
                <td class="no-imprimible">
                    <a href="{{'/producto/' + producto._id}}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Detalles
                    </a>
                    <a href="{{'/producto/eliminar/' + producto._id}}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
