<div class="container">
    <div class="pull-right" ng-if="!editando">
        <button class="btn btn-warning" ng-click="editar()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-danger" ng-click="borrar()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        &nbsp;
        <a href="/producto/listado" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Volver al listado
        </a>
    </div>
    <div class="pull-left">
        <h1>{{editando ? "Modificar detalles de" : "Ficha de"}} producto</h1>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Descripción de producto
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label for="">Código de producto</label>
                    <input type="text" id="codigo" class="form-control" ng-model="form.codigo">
                </div>
                <div class="col-sm-8">
                    <label for="">Nombre del producto</label>
                    <input type="text" class="form-control" id="nombre" ng-model="form.nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="">Marca</label>
                    <div class="dropdown">
                        <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{marca_seleccionada ? marca_seleccionada : 'Seleccionar'}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="marca in marcas">
                                <a href="#" ng-click="set_marca(marca._id, marca.nombre)">
                                    {{marca.nombre}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label for="">Categorias</label>
                    <div class="dropdown">
                        <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{form.categorias.length ? form.categorias.length : '0'}} seleccionadas
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="categoria in categorias">
                                <a href="#" ng-click="alternar_categoria(categoria._id)">
                                    <span class="glyphicon glyphicon-ok" ng-if="form.categorias.indexOf(categoria._id) > -1"></span>
                                    {{categoria.nombre}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Precio
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Precio</label>
                            <div class="input-group">
                                <div class="input-group-addon">ARS</div>
                                <input type="number" step="0.1" class="form-control" id="precio" ng-model="form.precio">
                            </div>
                            <small>Este debe ser el precio de costo, sin aplicar descuentos</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col sm-12">
                            <div class="container-fluid">
                                <label for="">Descuentos</label><br>
                                <input type="number" min="0" step="1" value="0" ng-model="form.descuentos[0]">
                                <input type="number" min="0" step="1" value="0" ng-model="form.descuentos[1]">
                                <input type="number" min="0" step="1" value="0" ng-model="form.descuentos[2]"> %
                                <p>
                                    <small>Los descuentos se van aplicando uno a la vez</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Stock
                </div>
                <div class="panel-body">
                    <label for="">Stock</label>
                    <h1 style="margin-top: 0px">{{form.stock}}</h1>
                    <p>
                        <small>
                            Este dato no puede modificarse manualmente
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-left" ng-if="editando">
        <button class="btn btn-success" ng-click="guardar_cambios()">
            Guardar cambios
        </button>
        <button class="btn btn-danger" ng-click="cancelar()">
            Cancelar
        </button>
    </div>
</div>
