<div class="container">
    <div class="pull-right">
        <a href="/producto/listado" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Volver al listado
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-if="errores">
        <p>Se produjeron los siguientes errores al cargar el producto:</p><br>
        <ul>
            <li ng-repeat="error in errores">{{error.message}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label for="">Detalle de movimiento</label>
            <input type="text" class="form-control" placeholder="Especifica la razon del movimiento (ej: devolución de mercadería)" ng-model="movimiento.motivo">
        </div>
    </div>
    <div class="tabs">
        <ul class="nav nab-tabs nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="pill">Ingreso</a>
            </li>
            <li role="presentation">
                <a href="#egreso" aria-controls="egreso" role="tab" data-toggle="pill">Egreso</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="ingreso" role="tab">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ingreso de productos
                    </div>
                    <table class="table grilla-productos">
                        <thead>
                            <th class="col-sm-3">Código</th>
                            <th class="col-sm-6">Descripción</th>
                            <th class="col-sm-2">Cantidad</th>
                            <th class="col-sm-1">Opciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="producto in movimiento.ingresos">
                                <td>
                                    <input type="text" class="form-control" ng-model="producto.codigo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="producto.descripcion">
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-model="producto.cantidad">
                                </td>
                                <td class="con-opciones">
                                    <button class="btn btn-danger btn-xs" ng-click="movimiento.ingresos.splice($index, 1)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                            <tr class="con-opciones">
                                <td>
                                    <input type="text" class="form-control" ng-model="agregar.codigo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="agregar.descripcion">
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-model="agregar.cantidad">
                                </td>
                                <td class="con-opciones">
                                    <button class="btn btn-primary btn-xs" ng-click="ag('ingreso')">
                                        Agregar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="egreso" role="tab">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Egreso de productos
                    </div>
                    <table class="table grilla-productos">
                        <thead>
                            <th class="col-sm-3">Código</th>
                            <th class="col-sm-6">Descripción</th>
                            <th class="col-sm-2">Cantidad</th>
                            <th class="col-sm-1">Opciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="producto in movimiento.egresos">
                                <td>
                                    <input type="text" class="form-control" ng-model="producto.codigo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="producto.descripcion">
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-model="producto.cantidad">
                                </td>
                                <td class="con-opciones">
                                    <button class="btn btn-danger btn-xs" ng-click="movimiento.egresos.splice($index, 1)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                            <tr class="con-opciones">
                                <td>
                                    <input type="text" class="form-control" ng-model="agregar.codigo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="agregar.descripcion">
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-model="agregar.cantidad">
                                </td>
                                <td class="con-opciones">
                                    <button class="btn btn-primary btn-xs" ng-click="ag('egreso')">
                                        Agregar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success" ng-click="guardar()">
            Guardar movimientos
        </button>
    </div>
</div>
<script>
(function(){
    $('.nav-pills li a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
})();
</script>
