<div class="container">
    <div class="pull-right no-imprimible">
        <a href="javascript:void(window.print())" class="btn btn-default">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <a href="/proveedor/nuevo" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <div class="pull-left">
        <h1>Proveedores</h1>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th class="col-sm-1">DNI / CUIT</th>
                <th class="col-sm-3">Nombre</th>
                <th class="col-sm-4">Contacto</th>
                <th class="col-sm-4 no-imprimible">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="proveedors.length">
                <td colspan="4" class="text-center">
                    <div class="alert alert-info">¡No hay proveedores en el sistema!</div>
                </td>
            </tr>
            <tr ng-repeat="proveedor in proveedors">
                <td>
                    {{proveedor.identificacion}}
                </td>
                <td>
                    {{proveedor.nombre}}
                </td>
                <td>
                    <div>
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{proveedor.telefono}}
                    </div>
                    <div ng-if="proveedor.movil">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{proveedor.movil}}
                    </div>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{proveedor.localidad}} - {{proveedor.domicilio}}
                </td>
                <td class="no-imprimible">
                    <a href="{{'/proveedor/' + proveedor._id}}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Detalles
                    </a>
                    <a href="{{'/proveedor/eliminar/' + proveedor._id}}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
