<div class="container">
    <div class="pull-right" ng-if="!editando">
        <button class="btn btn-warning" ng-click="editar()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-danger" ng-click="borrar()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        &nbsp;
        <a href="/proveedor/listado" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Volver al listado
        </a>
    </div>
    <div class="pull-left">
        <h1>{{editando ? "Modificar" : "Ficha de"}} proveedor</h1>
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-if="errores">
        <p>No se pudo cargar el proveedor, compruebe los siguientes errores:</p><br>
        <ul>
            <li ng-repeat="error in errores">{{error.message}}</li>
        </ul>
    </div>
    <div class="tabs">
        <ul class="nav nab-tabs nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#ficha" aria-controls="ficha" role="tab" data-toggle="pill">Ficha de proveedor</a>
            </li>
            <li role="presentation">
                <a href="#cuenta" aria-controls="cuenta" role="tab" data-toggle="pill">Cuenta corriente</a>
            </li>
            <li role="presentation">
                <a href="#historial" aria-controls="historial" role="tab" data-toggle="pill">Historial</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tab" id="ficha">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Información
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="">DNI o CUIT</label>
                                <input type="text" class="form-control" ng-model="form.identificacion">
                            </div>
                            <div class="col-sm-8">
                                <label for="">Nombre del proveedor</label>
                                <input type="text" class="form-control" ng-model="form.nombre">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Datos de contacto
                    </div>
                    <div class="panel-body">
                        <div class="row separado-abajo">
                            <div class="col-sm-4">
                                <label for="">Dirección email</label>
                                <input type="email" class="form-control" ng-model="form.email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="">Teléfono</label>
                                <input type="tel" class="form-control" ng-model="form.telefono">
                            </div>
                            <div class="col-sm-3">
                                <label for="">Teléfono móvil</label>
                                <input type="tel" class="form-control" ng-model="form.movil">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="">Localidad</label>
                                <input type="text" class="form-control" ng-model="form.localidad">
                            </div>
                            <div class="col-sm-9">
                                <label for="">Domicilio</label>
                                <input type="text" class="form-control" ng-model="form.domicilio">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tab" id="cuenta">
                <div class="alert alert-info">
                    No hay datos de este proveedor
                </div>
            </div>
            <div class="tab-pane" role="tab" id="historial">
                <div class="alert alert-info">
                    No hay datos de este proveedor
                </div>
            </div>
        </div>
    </div>
    <div class="text-left" ng-if="editando">
        <button class="btn btn-success" ng-click="guardar_cambios()">
            Guardar cambios
        </button>
        <button class="btn btn-danger" ng-click="cancelar()">
            Cancelar
        </button>
    </div>
</div>
<script>
(function(){
    $('.nav-pills li a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
})();
</script>
