<div class="container">
    <div class="pull-right">
        <a href="/proveedor/listado" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Volver al listado
        </a>
    </div>
    <div class="pull-left">
        <h1>Eliminar proveedor</h1>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-danger" ng-if="proveedor">
        <div class="alert alert-danger" ng-if="error">{{error}}</div>
        <div class="panel-heading">
            Eliminar <strong>{{proveedor.nombre}}</strong>
        </div>
        <div class="panel-body">
            <div class="container">
                <h4>Está seguro que desea eliminar este proveedor?</h4>
                <p>Esta acción no puede deshacerse</p>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            <button class="btn btn-danger" ng-click="borrar()">Eliminar</button>
        </div>
    </div>
</div>
