body
{
    overflow-x: hidden;
}

.panel#login
{
    width: 60%;
    margin: 25% auto
}

nav.navbar
{
    margin-bottom: 30px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px #ccc;
    width: calc(100% + 2px);
}

/* fixs */
a, a:active, a:focus
{
    outline: none !important;
}

input, button, textarea
{
    outline: none !important
}

.row
{
    margin-bottom: 10px
}

ul.nav.nav-pills li a,
ul.nav.nav-pills li.active a
{
    border-radius: 4px 4px 0px 0px;
}
.tab-content
{
    padding: 0px 0px;
    border-top: 1px solid #337AB7
}
.tab-content .panel
{
    margin-top: 10px
}
.tab-content .panel.en-tab
{
    margin: 0px;
    border: none;
    box-shadow: none
}

body.login footer
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: right;
    padding: 15px 20px;
    color: #666
}

input.form-control[readonly]
{
    background: #fff;
    color: #666;
    box-shadow: inset 0px 0px 3px #f0f0f0;
}

td .alert
{
    margin:20px
}

/* Modal */
.ngdialog.ngdialog-theme-default .ngdialog-content
{
    padding: 0px;
    width: 60%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content.grande
{
    width: 80%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content.chico
{
    width: 40%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content.muy-grande
{
    width: 90%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .panel
{
    min-height: 300px
}

.ngdialog.ngdialog-theme-default .ngdialog-close
{
    margin-top: 5px;
    margin-right: 5px
}

/* aplicacion de escritorio */
html.electron nav.navbar
{
    min-height: 20px;
    height: 32px;
    padding-left: 0px;
}

#navbar-collapse
{
    margin-left: -10px;
}

html.electron ul.navbar-nav > li > a, html.electron ul.navbar-nav > li > p
{
    padding: 5px 10px 3px 10px;
    font-size: 87%;
    margin: 0px;
}
html.electron ul.navbar-nav > li > p
{
    padding-top: 7px;
}
html.electron .dropdown-menu
{
    font-size: 12px
}

/* helpers */
.alert.small
{
    padding: 5px;
    margin: 8px 0px
}

div.separado
{
    margin-top: 60px
}
div.separado-abajo
{
    margin-bottom: 20px
}

html.electron .ocultar-desktop
{
    display: none !important;
}

.logo-hero
{
    margin: 30px 0px;
}
.logo-hero img
{
    display: inline-block;
    max-height: 90px;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    top: -5px
}
.logo-hero h1
{
    display: inline-block;
    font-size: 3em;
    color: #727272
}
.logo-hero h1 span
{
    color: #03A9F4
}

.table.grilla-productos td
{
    padding: 0px;
    border-right: 1px solid #ccc;
}
.table.grilla-productos th
{
    padding: 8px 5px 3px 3px;
    font-size: 95%
}
.table.grilla-productos th:nth-child(1)
{
    padding-left: 8px;
}

.table.grilla-productos td input
{
    margin: 0px;
    border: none;
    box-shadow: none;
    border-radius: 0px
}
.table.grilla-productos td input:hover
{
    box-shadow: inset 0px 0px 3px #ccc
}
.table.grilla-productos td input:focus
{
    box-shadow: inset 0px 0px 5px #c9c9c9
}
.table.grilla-productos td input[readonly]:hover,
.table.grilla-productos td input[readonly]:focus
{
    box-shadow: none;
    cursor: default
}

.table.grilla-productos td.con-opciones
{
    padding-left: 10px;
    border-right: none;
}
.table.grilla-productos td.con-opciones button
{
    margin-top: 2px;
}
.table.grilla-productos td.con-opciones button.btn-xs
{
    margin-top: 7px;
}

.table.no-borders td
{
    border: none
}
.table.no-borders th
{
    border: none;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em
}

.table tr.resultado, .table.no-borders tr.resultado
{
    cursor: pointer;
    transition: 300ms ease;
}

.table tr.resultado.seleccionado
{
    background: #0097CF;
    color: #fefefe;
    transition: 300ms ease
}

.table.grilla-productos tr.con-opciones td
{
    border-top: 1px solid #000
}
