body
{
    background: #1B1C1E;
    color: #999
}

nav.navbar-default
{
    background: #414141;
    border: none;
    box-shadow: 0px 0px 5px #000
}

.navbar-default .navbar-nav > li > a
{
    color: #fff;
    transition: 300ms ease;
}
.navbar-default .navbar-nav > li > a:hover
{
    color: #fff;
    background: #666;
    transition: 300ms ease;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{
    background: #333;
    color:#fff;
    box-shadow: inset 0px 0px 5px #000;
    transition: 300ms ease;
}

.dropdown-menu
{
    background: #414141;
}
.dropdown-menu .divider
{
    background: #999;
    margin: 10px
}
.dropdown-menu > li > a
{
    color: #999
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
{
    background: #333;
    color:#999
}

.panel.panel-default, .panel.panel-danger, .panel.panel-warning
{
    background: transparent;
    color: #7B7F88;
    border: none;
}
.panel .panel-footer
{
    margin-top: 50px
}
.panel.panel-default .panel-heading, .panel.panel-danger .panel-heading, .panel.panel-warning .panel-heading
{
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #337AB7;
}

.panel.panel-danger .panel-heading
{
    border-bottom: 1px dotted #333;
    color: #ccc
}
.panel.panel-danger .panel-footer
{
    background: rgba(255, 0, 0, .1);
    border-top: 1px solid #444
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
    border-color: #333;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th
{
    color: #337AB7;
    border-color: #337AB7;
    border-width: 1px;
    font-weight: normal;
}

.tabs
{
    margin-top: 20px
}

.btn-default, .btn-primary, .btn-danger, .btn-success, .btn-warning
{
    background: #232426;
    color: #a0a0a0;
    border-color: #333
}
.btn-default:hover, .btn-primary:hover
{
    background: #232426;
    color: #fff;
    border-color: #333
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default.active,
.open > .dropdown-toggle.btn-default

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
    background: #232426;
    color: #fff;
    border-color: #333;
    inset 0 3px 5px rgba(0,0,0,.2);
}

ul.nav.nav-pills li a
{
    color: #999
}
ul.nav.nav-pills li a:hover, ul.nav.nav-pills li.active a
{
    color: #fff
}

.nav > li > a:focus, .nav > li > a:hover
{
    color: #fff;
    background: transparent
}

h1, h2, h3, h4, h5, h6
{
    color: #fff
}

.form-control
{
    background: #333;
    border-color: #454545;
    color:#999
}
.form-control:focus
{
    border-color: #337AB7;
    box-shadow:
        inset 0 1px 1px rgba(0,0,0, .075),
        0 0 8px rgba(#448AFF, .6);
}
input.form-control[readonly]
{
    border:1px solid #454545;
    background: #363636;
    box-shadow: none;
    color: #888;
    cursor: default
}

.input-group-addon
{
    background: #333;
    border-color: #454545;
    color: #fff
}

label
{
    font-weight: normal
}

.alert.alert-info
{
    background: #212121;
    border: 1px solid #333;
    color:#666
}

.ngdialog.ngdialog-theme-default .ngdialog-content
{
    background: #1B1C1E;
    border: 1px solid #444;
    box-shadow: 0px 0px 10px #000
}

.ngdialog.ngdialog-theme-default .ngdialog-content .panel.panel-default .panel-heading
{
    border-bottom: 1px solid #333;
    background: #222
}

.table tr.resultado.seleccionado
{
    background: #337AB7
}

.hero
{
    color: #fff
}
