<!DOCTYPE html>
<html lang="es" ng-app="lien" ng-controller="Launch">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lien Sistemas">
    <meta name="format-detection" content="date=no">
    <link href="/img/icon-ios.png" sizes="152x152" rel="apple-touch-icon-precomposed">
    <link href="/img/icon-ios.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <link href="/img/icon-ios.png" sizes="76x76" rel="apple-touch-icon-precomposed">
    <link href="/img/icon-ios.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="/img/icon-ios.png" sizes="120x120" rel="apple-touch-icon-precomposed">
    <link href="/img/icon-ios.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="/img/icon-ios.png" sizes="57x57" rel="apple-touch-icon-precomposed">
    <link href="/img/splash-ios.png" rel="apple-touch-startup-image">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/ngdialog.min.css">
    <link rel="stylesheet" href="/lib/ngdialog-default.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/print.css" media="print">
    <script src="/js/electron.js"></script>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-animate.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/lib/angular-ngdialog.js"></script>
    <script src="/lib/angular-ngstorage.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/router.js"></script>
    <link rel="stylesheet" ng-href="/css/theme-{{ajustes.theme}}">
    <title>{{empresa}} / {{accion}}</title>
</head>
<body class="index">
    <nav class="navbar navbar-default">
        <div class="container-fuild">
            <div class="navbar-header pull-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ventas</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/presupuesto/nuevo" target="{{ajustes.target['presupuesto']}}">Presupuesto</a>
                            </li>
                            <li>
                                <a href="/pedido/nuevo" target="{{ajustes.target['pedido']}}">Pedido</a>
                            </li>
                            <li>
                                <a href="/remito/nuevo" target="{{ajustes.target['remito']}}">Remito</a>
                            </li>
                            <li>
                                <a href="/factura/nuevo" target="{{ajustes.target['factura']}}">Factura</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/presupuesto/buscar">Búsqueda de presupuestos</a>
                            </li>
                            <li>
                                <a href="/pedido/buscar">Búsqueda de pedidos</a>
                            </li>
                            <li>
                                <a href="/remito/buscar">Búsqueda de pedidos</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/factura/buscar">Historial de facturación</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
                        <ul class="dropdown-menu">
                            <li><a href="/producto/nuevo" target="{{ajustes.target['add-producto']}}">Agregar producto</a></li>
                            <li><a href="/producto/movimiento#ingreso">Ingresar stock</a></li>
                            <li><a href="/producto/movimiento#egreso">Egresar stock</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="/producto/buscar">Búsqueda</a></li>
                            <li><a href="/producto/listado" target="{{ajustes.target['productos']}}">Listado</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a href="/cliente/nuevo">Cargar cliente</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="/cliente/listado">Búsqueda</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proveedores</a>
                        <ul class="dropdown-menu">
                            <li><a href="/proveedor/nuevo">Cargar proveedor</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="/proveedor/listado">Búsqueda</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Avanzado</a>
                        <ul class="dropdown-menu">
                            <li><a href="/" target="_blank">Nueva ventana</a></li>
                            <li><a href="javascript:void(location.reload())">Actualizar UI</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="/config/preferencias">Ajustes personales</a></li>
                            <li><a href="/config/sistema">Configuración del sistema</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <p class="navbar-text"><strong>{{user.nombre}}</strong></p>
                        </li>
                        <li class="ocultar-desktop">
                            <a href="/salir">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="view" ng-view></div>
    </main>
    <script src="/controllers/config.js"></script>
    <script src="/controllers/presupuesto.js"></script>
    <script src="/controllers/producto.js"></script>
    <script src="/controllers/productos.stock.js"></script>
    <script src="/controllers/cliente.js"></script>
    <script src="/controllers/proveedor.js"></script>
</body>
</html>
