<!DOCTYPE html>
<html lang="es" ng-app="lien-login" ng-controller="Login">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/electron.js"></script>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-ngstorage.js"></script>
    <script src="/js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Lien Sistemas / Acceder</title>
</head>
<body class="login">
    <main>
        <div class="container center-align">
            <div class="panel panel-default" id="login">
                <div class="panel-heading center-align">Identificarse</div>
                <div class="panel-body">
                    <div id="errores" ng-if="error" class="alert alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="email" id="email" ng-model="form.email" class="form-control" placeholder="Correo electrónico">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="password" id="passwd" ng-model="form.passwd" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success submit" ng-click="login()">Acceder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <small>
            Desarrollado por Alan Berdinelli
        </small>
    </footer>
</body>
</html>
